@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400&display=swap");

* {
	font-family: "Sora", sans-serif;
	box-sizing: border-box;
	color: white;
	font-weight: 200;
}

a {
	color: #0075ff;
}

html,
body {
	margin: 0;
}

h1 {
	font-size: 2.75em;
	line-height: 1.125;
	font-weight: 300;
}

html {
	background-image: url(background.svg);
	background-size: 100% 150%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
}

body > * {
	opacity: 0;
}

body {
	min-height: 100vh;
	min-width: 320px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 20px;
	padding: 3rem 1.875rem;
}

p {
	line-height: 1.1;
	font-size: 1.4rem;
	margin: 8px 0;
	font-weight: 400;
}
.dim * {
	color: #606060 !important;
}
.dim *.grey {
	color: rgba(255, 255, 255, 0.376) !important;
}
.grey {
	color: rgba(255, 255, 255, 0.376);
}

.small * {
	font-size: 1.1rem !important;
	font-weight: 400;
}

.xsmall * {
	font-size: 0.9rem !important;
	font-weight: 400;
}

body > h1:first-child {
	margin-top: 0;
}

#yt_links > a,
#wondershare > a,
#subtitles > a {
	padding: 14px;
	background-color: gray;
	margin-right: 10px;
	margin-bottom: 5px;
	width: 25rem;
	white-space: nowrap;
	background-color: #450000;
}
#yt_links > a::after {
	content: "";
	position: absolute;
	background-image: url(yt.svg);
	width: 20px;
	height: 20px;
	right: 15px;
	background-size: cover;
	top: 13px;
}
#yt_links > a:first-child {
	color: #00ff00;
	background-image: linear-gradient(45deg, #7c44ab 0%, rgba(69, 0, 0, 0.008) 84%);
}
#yt_links > a:nth-child(2) {
	color: #ffd4a8;
	background-image: linear-gradient(45deg, #004054 0%, rgba(69, 0, 0, 0.008) 84%);
}
#yt_links > a:nth-child(3) {
	color: #ccf0ff;
	background-image: linear-gradient(45deg, #008736 0%, rgba(69, 0, 0, 0.008) 84%);
}

#yt_links > a:hover {
	background-color: currentColor !important;
}

[id] > a {
	display: inline-block;
	text-decoration: none;
	transition: transform ease 0.3s, opacity ease 0.3s, background-color ease 0.3s;
	position: relative;
	border-radius: 50px;
	font-size: 14px;
}
[id] > a:hover {
	transform: scale(1.02);
	opacity: 0.8;
}
h4 {
	margin: 3px 0;
}

#others {
	margin: 20px 0;
}

#others > a {
	height: 2rem;
	width: 2rem;
	text-align: center;
	padding: 5px;
	box-sizing: content-box;
	margin-right: 10px;
	border-radius: 100%;
	background-color: gray;
}
#others > a > img {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#others > a:hover {
	transform: translateY(-2px);
}

@media (max-width: 1680px) {
	html {
		font-size: 9pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 9pt;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 8pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 10pt;
	}
}

@keyframes swoosh-left {
	from {
		transform: translateX(-100vw);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}
@keyframes swoosh-right {
	from {
		position: relative;
		transform: translateX(100vw);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes ie-fix {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body > * {
	animation: 0.5s ease var(--delay, 0s) 1 normal forwards running swoosh-left;
}

#wondershare,
#subtitles {
	margin: 20px 0;
}

#wondershare a,
#subtitles a:last-child {
	color: white;
	background-color: #40a376;
	background-image: linear-gradient(45deg, rgba(95, 100, 217, 0.769) 0%, rgba(64, 163, 118, 0.008) 75%);
}

#wondershare a:hover,
#subtitles a:last-child:hover {
	background-color: #30d98b !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS */
	body > * {
		opacity: 1 !important;
		animation: unset !important;
	}
}
@supports (-ms-accelerator: true) {
	/* Edge 12+ CSS */
	body > * {
		opacity: 1 !important;
		animation: unset !important;
	}
}
@supports (-ms-ime-align: auto) {
	/* Edge 16+ CSS */
	body > * {
		opacity: 1 !important;
		animation: unset !important;
	}
}
